@page
@model MascotaFeliz.App.Frontend.ListPModelP
@{
}
<h1 class="mascotas">Propietarios</h1>

<table class="table">
    <tr>
        <td>
            <h4>Id</h4>
        </td>
        <td>
            <h4>Identificacion</h4>
        </td>
        <td>
            <h4>Nombres</h4>
        </td>
        <td>
            <h4>Apellidos</h4>
        </td>
        <td>
            <h4>Detalles</h4>
        </td>
        <td>
            <h4>Editar</h4>
        </td>
    </tr>
    @foreach (var propietario in Model.Propietarios)
    {
        <tr>
            <td>
                @propietario.Id
            </td>
            <td>
                @propietario.Identificacion
            </td>
            <td>
                @propietario.Nombres
            </td>
            <td>
                @propietario.Apellidos
            </td>
            <td>
                <a class="btn btn-primary table-btn" asp-page="./DetailsP" asp-route-propietarioId="@propietario.Id">
                    <i class="fas fa-info-circle"></i>
                    Detalle del Propietario
                </a>
            </td>
            <td>
                <a class="btn btn-primary table-btn" asp-page="./EditP" asp-route-propietarioId="@propietario.Id">
                    <i class="fas fa-address-book fa-lg" aria-hidden="true"></i>
                    Editar
                </a>
            </td>
        </tr>
    }

</table>

<a asp-page=".\EditP" class="btn btn-primary">Crear</a>
<a asp-page=".\EditP" class="btn btn-primary">Eliminar</a>