@page
@model MascotaFeliz.App.Frontend.Pages.DetailsPropietariosModel
@{
}

<body
    style="background-image: url(/img/fondopaticas.jpg);background-position: center center;background-repeat: no-repeat;background-size: cover;background-attachment: fixed;">
<div class="row d-flex justify-content-center ">
    <div class="">
        <div class="border shadow rounded p-4 bg-light" style="min-width: 700px;">
            <div class="row d-flex justify-content-center">
                <div class="col-10">
                    @Html.Raw(@ViewData["Respuesta"])
                </div>
            </div>
            <div class="row">
                <div class="col m-3">
                    <h3>@Model.Propietario.Nombres @Model.Propietario.Apellidos</h3>
                    <p>
                        <strong>Identificacion</strong>: @Model.Propietario.Identificacion
                    </p>
                    <p>
                        <strong>Nombre</strong>: @Model.Propietario.Nombres @Model.Propietario.Apellidos
                    </p>
                    <p>
                        <strong>Teléfono</strong>: @Model.Propietario.Telefono
                    </p>
                    <p>
                        <strong>Dirección</strong>: @Model.Propietario.Direccion
                    </p>
                </div>
                <div class="col m-3">
                    <ul class="list-group">
                        <li class="list-group-item text-center"><strong>Mascotas</strong></li>
                        @foreach (var mascota in Model.Propietario.Mascotas)

                        {
                            <li class="list-group-item d-flex justify-content-between">
                                <span>@mascota.Nombre - @mascota.Especie</span>
                                <div>
                                    <form method="POST" class="form-inline" id="@mascota.Id">
                                        <a class="btn btn-sm btn-primary mr-2" asp-page="/Mascotas/Details"
                                        asp-route-mascotaId="@mascota.Id" asp-route-propietarioId="@Model.Propietario.Id" data-toggle="tooltip" data-placement="top"
                                        title="Detalles">
                                            <i class="fas fa-eye"></i>
                                        </a>
                                        <a class="btn btn-sm btn-success mr-2" asp-page="/Mascotas/Edit"
                                        asp-route-mascotaId="@mascota.Id"
                                        asp-route-propietarioId="@Model.Propietario.Id" data-toggle="tooltip"
                                        data-placement="top" title="Editar">
                                            <i class="fas fa-edit"></i>
                                        </a>
                                        <input type="hidden" value="@mascota.Id" name="idmascota">
                                        <input type="hidden" value="@Model.Propietario.Id" name="idpropietario">
                                        <a href="#" class="btn btn-danger btn-sm" onclick="confirmar(@mascota.Id);"
                                        data-toggle="tooltip" data-placement="right" title="Eliminar">
                                            <i class="fas fa-trash"></i>
                                        </a>
                                    </form>
                                </div>
                            </li>

                        }
                    </ul>

                </div>
            </div>
            <div class="row d-flex justify-content-between m-3">
                <a asp-page="./ListP" class="btn btn-outline-primary">Volver a la lista</a>
                <a asp-page="/Mascotas/Edit" asp-route-propietarioId="@Model.Propietario.Id"
                    class="btn btn-primary">Agregar una mascota</a>
            </div>

        </div>
    </div>
</div>
</body>
<script>
    function confirmar(id) {
        var opcion = confirm("Realmente desea eliminar la mascota?");
        if (opcion == true) {
            $('#' + id).submit();
        }
    }
</script>