@page
@model MascotaFeliz.App.Frontend.Pages.DetailsModelM
@{
}

<h2>@Model.Mascotas.Nombre</h2>
<div>
    Id: @Model.Mascotas.Id
</div>
<div>
    Propietario: @Model.Mascotas.Propietario
</div>
<div>
    Especie: @Model.Mascotas.Especie
</div>
<div>
    Raza: @Model.Mascotas.Raza
</div>
<a asp-page="./List" class="btn-default">Lista de Mascotas</a>